p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
}

body {
  background-color: #cfc6ae;
}

.container{
  display: flex;
  background-color: #adaaa1;
  border-radius: 12px;
  margin: 20px auto;
  width: 70%;
  ;
}
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 100%;
}
p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
}
.pageTitle{
  text-align: justify;
}